@keyframes block-slide {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: calc(100% - 50px);
  }
}

.block-container {
  height: 50px;
  width: 200px;
  background: lightgray;
}

.block {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  animation: 1s linear 0s infinite alternate block-slide;
  
  background-color: dodgerblue;
}

#button-local {
  margin: 10px;
}

#button-worker {
  margin: 10px;
}

.block:hover {
  background-color: crimson;
}

.block-text {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
